/*
	Oni Hairston
*/

body {
	background-color: #e19d9d;
}

nav ul {
	list-style-type: none;  /*makes it have no more bullet points */
	margin: 0;
	text-align: center;
}
nav li {
	display: inline-block;
	font-size: 2em;
	font-weight: bold;
	font-family: DejaVu Sans Mono, monospace;
}
nav li a {
	display: block;
	text-decoration: none;
	color: #ffe4e1;
	text-align: center;
	padding: .5em 1em;
	outline: #fff dashed 6px;	
	/*sourround this in an outline (look up what that is) and then make it cutesy*/
}

h1 {
	text-align: center;
}

h4 {
	text-align: center;
}

main {
	background-color: #fff;
}
